<md-content layout="column" class="layout-padding">
    <div layout="column">
        <form name="userForm" layout-align="center center">

            <md-input-container class="md-block" flex-gt-xs>
                <label>Nombre</label>
                <input ng-model="currentUser.name" ng-focus="focusname($event)" disabled>
            </md-input-container>

            <md-input-container class="md-block" flex-gt-xs>
                <label>NIF</label>
                <input ng-model="currentUser.company" disabled>
            </md-input-container>

            <h3>Trabajadores</h3>
            <md-divider></md-divider>
            <md-list ng-cloak>
                <md-list-item ng-repeat="worker in currentUser.workers" layout="row">
                    <div layout="column" flex layout-wrap>
                        <div layout="row" flex layout-wrap>
                            <p><b> {{worker.id}}</b>: {{ worker.name }}</p>
                        </div>
                    </div>
                    <md-checkbox class="md-secondary" ng-model="worker.isAuthorized" ng-click="updateUser(worker)"></md-checkbox>
                </md-list-item>
            </md-list>

            <md-input-container class="md-block" flex-gt-xs>
                <label>Contribución total de los trabajadores este mes</label>
                <input ng-model="currentUser.quantity" disabled>
            </md-input-container>

        </form>
    </div>
</md-content>