<img src="images/logo.png" alt="">
<section id="comofunciona" style="min-height: 691px;" layout="row" layout-sm="column" layout-align="center center" layout-wrap>
  <h1>¿C&oacute;mo funciona?</h1>
</section>

<section id="cuantodonar" style="min-height: 691px;" layout="row" layout-sm="column" layout-align="center center" layout-wrap>
  <h1>¿Cu&aacute;nto donar?</h1>
</section>

<section id="empresa" style="min-height: 691px;" layout="row" layout-sm="column" layout-align="center center" layout-wrap>
  <h1>Empresa morewithless</h1>
</section>

<section id="opiniones" style="min-height: 691px;" layout="row" layout-sm="column" layout-align="center center" layout-wrap>
  <h1>opiniones</h1>
</section>