<img src="images/logo.png" alt="">
<section id="comofunciona" style="min-height: 691px;" layout="row" layout-sm="column" layout-align="center center" layout-wrap>
<h1>¿C&oacute;mo funciona?</h1>
<p align="justify">MORE WITH LESS establece <a href="https://github.com/refu-gal/morewithless/blob/develop/legal/modelo%20convenio%20de%20colaboraci%C3%B3n.pdf" target="_blank"><span style="color: #0066ff;">convenios de colaboración</span></a> con empresas a través de los cuales los trabajadores y/o las propias empresas donan parte de su sueldo/beneficios para ayudar a financiar distintos proyectos de acción social.</p>
<p align="justify">MORE WITH LESS destina directamente un <a href="http://noticias.juridicas.com/base_datos/Fiscal/l49-2002.cpt2.html#cpa3" target="_blank"><span style="color: #0066ff;">mínimo del 70% </span></a>de cada donativo para la financiación del proyecto/s elegido/s por los trabajadores y/o empresas.</p>
<p align="justify">De esta forme MORE WITH LESS ayuda a fomentar la<a href="http://noticias.juridicas.com/base_datos/Fiscal/l49-2002.cpt2.html#cpa3" target="_blank"> <span style="color: #0066ff;">RESPONSABILIDAD SOCIAL CORPORATIVA</span></a> entre las empresas.</p>
</section>

<section id="cuantodonar" style="min-height: 691px;" layout="row" layout-sm="column" layout-align="center center" layout-wrap>
  <h1>¿Cu&aacute;nto donar?</h1>
  <h2><strong>EMPRESAS</strong></h2>
<!--more-->
<p style="text-align: justify;">Hazte empresa colaboradora y ayúdanos a hacer de este mundo un lugar mejor. Ponte en contacto con nosotros y te explicamos todo lo que necesites saber, mientras tanto puedes descargarte un <a href="https://github.com/refu-gal/morewithless/blob/develop/legal/modelo%20convenio%20de%20colaboraci%C3%B3n.pdf" target="_blank">modelo de convenio de colaboración</a> para que sepas cómo hacemos las cosas. Este convenio lo adaptaremos a tus necesidades.</p>
<p style="text-align: justify;">Si estas interesada puedes darte de alta cubriendo el <a href="https://github.com/refu-gal/morewithless/blob/develop/legal/hazte%20social.pdf" target="_blank">siguiente formulario</a></p>
<p style="text-align: justify;">Con poco que nos ayudes podremos hacer grandes cosas: Te enseñamos 2</p>

<ol>
 	<li style="text-align: justify;">Si en tu empresa hay 10 trabajadores y 5 de ellos donan 1 euro y los otros 5 donan 3 euros(20€ en total) permitirás que una persona pueda estar en un centro de acogida; así tendrá asegurada la alimentación, vestimenta y asistencia psicológica.</li>
 	<li style="text-align: justify;">Si en tu empresa hay 10 trabajadores y cada uno dona 3 euros (30€ en total) cubrirás los gastos de asesoramiento legal a un refugiado permitiéndole defender sus derechos.</li>
</ol>
<h2><strong>TRABAJADORES</strong></h2>
<!--more-->
<p style="text-align: justify;">Colabora con nosotros donando desde 1 euro de tu nómina y haz realidad distintos proyectos de acción social. Para ello sólo necesitamos firmar un convenio de colaboración con tu empresa.</p>
<p style="text-align: justify;"><a href="https://github.com/refu-gal/morewithless/blob/develop/legal/formulario%20contacto..pdf" target="_blank">Cubre este formulario</a> y MORE WITH LESS se pondrá en contacto con tu empresa.</p>
<p style="text-align: justify;">Con poco dinero se pueden hacer muchas cosas:</p>
<p style="text-align: justify;">Donando tan sólo<strong> 1 € al mes</strong> (12€/año) ayudas a proporcionar material escolar y libros de texto para que ningún niño se quede sin ir al colegio.</p>
<p style="text-align: justify;">Donando <strong>3 € al mes</strong> (36€/año) ayudas a financiar las actividades extraescolares y campamentos de verano.</p>
<p style="text-align: justify;">Donando<strong> 5 € al mes</strong> (60€/año) ayudas a que los refugiados puedan realizar cursos de ocupación profesional.</p> </section>

<section id="empresa" style="min-height: 691px;" layout="row" layout-sm="column" layout-align="center center" layout-wrap>
  <h1>Empresa morewithless</h1>
 <span style="color: #ff0000;"><i class="fa fa-trophy fa-2x"></i></span>   &nbsp;  <strong> EMPRESA + SOCIAL:</strong>
<p style="text-align: justify;">Se concederá este distintivo a la empresa que posea el porcentaje más alto de trabajadores donantes.</p>
<p style="text-align: justify;">En reconocimento a su gran aportación se invitará a uno de los trabajadores a visitar uno de los proyectos en los que participe su empresa.</p>

<span style="color: #ff0000;"><i class="fa fa-eur fa-2x"></i></span>    &nbsp; <strong> EMPRESA + GENEROSA</strong>
<p style="text-align: justify;">Se concederá este distintivo a la empresa que aporte la mayor cantidad de dinero por trabajador.</p>
<p style="text-align: justify;">En reconocimiento a su gran aportación se le dará la posibilidad de apadrinar  uno de los proyectos en los que participe.</p>
</section>

<section id="opiniones" style="min-height: 691px;" layout="row" layout-sm="column" layout-align="center center" layout-wrap>
  <h1>opiniones</h1>
</section>
