<section id="main" layout="row" layout-align="center start">
  <img src="images/logo.png" alt=""/>
  <img src="images/Rocket.png"/>
</section>
<section id="comofunciona" layout="row" layout-sm="column" layout-align="start center" layout-wrap>
  <h1>¿Qu&eacute; hacemos?</h1>

  <p>MORE WITH LESS establece <a href="legal/modelo-convenio-de-colaboracion.pdf" target="_blank">convenios de colaboración</span></a>    con empresas a través de los cuales los trabajadores y/o las propias empresas donan parte de su sueldo/beneficios para
    ayudar a financiar distintos proyectos de acción social.

    <p>MORE WITH LESS destina directamente un <a href="http://noticias.juridicas.com/base_datos/Fiscal/l49-2002.cpt2.html#cpa3"
        target="_blank"> mínimo del 70%</a> de cada donativo para la financiación del proyecto/s elegido/s por los trabajadores
      y/o empresas. De esta forme MORE WITH LESS ayuda a fomentar la <a href="http://noticias.juridicas.com/base_datos/Fiscal/l49-2002.cpt2.html#cpa3"
        target="_blank">RESPONSABILIDAD SOCIAL CORPORATIVA</a> entre las empresas.
</section>

<h1>¿C&oacutemo funciona?</h1>
<section id="cuantodonar" layout="row" layout-sm="column" layout-align="center center" layout-wrap>

  <div layout="column" class="md-padding" flex>
    <md-icon md-font-icon="fa-building" class="fa fa-3x s32 md-primary md-hue-2" aria-label="empresas"></md-icon>
    <h2>Empresas</h2>
    Hazte empresa colaboradora y ayúdanos a hacer de este mundo un lugar mejor. Ponte en contacto con nosotros y te explicamos
    todo lo que necesites saber, mientras tanto puedes descargarte un <a href="legal/modelo-convenio-de-colaboracion.pdf"
      target="_blank">modelo de convenio de colaboración</a> para que sepas cómo hacemos las cosas. Este convenio lo adaptaremos
    a tus necesidades. Si estas interesada puedes darte de alta cubriendo el <a href="legal/hazte-social.pdf" target="_blank">siguiente formulario</a>    Con poco que nos ayudes podremos hacer grandes cosas: Te enseñamos 2

    <ol>
      <li>Si en tu empresa hay 10 trabajadores y 5 de ellos donan 1 euro y los otros 5 donan 3 euros(20€ en total) permitirás
        que una persona pueda estar en un centro de acogida; así tendrá asegurada la alimentación, vestimenta y asistencia
        psicológica.</li>
      <li>Si en tu empresa hay 10 trabajadores y cada uno dona 3 euros (30€ en total) cubrirás los gastos de asesoramiento legal
        a un refugiado permitiéndole defender sus derechos.</li>
    </ol>
  </div>
  <div layout="column" class="md-padding" flex>
    <md-icon md-font-icon="fa-group" class="fa fa-3x s32 md-primary md-hue-2" aria-label="trabajadores"></md-icon>
    <h2>Trabajadores</h2>
    <p>Colabora con nosotros donando desde 1 euro de tu nómina y haz realidad distintos proyectos de acción social. Para ello
      sólo necesitamos firmar un convenio de colaboración con tu empresa.</p>
    <p><a href="legal/formulario-contacto.pdf" target="_blank">Cubre este formulario</a> y MORE WITH LESS se pondrá en contacto
      con tu empresa.</p>
    <p>Con poco dinero se pueden hacer muchas cosas:</p>
    <p>Donando tan sólo<strong> 1 € al mes</strong> (12€/año) ayudas a proporcionar material escolar y libros de texto para
      que ningún niño se quede sin ir al colegio.</p>
    <p>Donando <strong>3 € al mes</strong> (36€/año) ayudas a financiar las actividades extraescolares y campamentos de verano.</p>
    <p>Donando<strong> 5 € al mes</strong> (60€/año) ayudas a que los refugiados puedan realizar cursos de ocupación profesional.</p>
</section>
</div>
</section>

<h1>Empresa morewithless</h1>
<section id="empresa" layout="row" layout-sm="column" layout-align="center center" layout-wrap>
  <div layout-align="center center" layout="column" class="md-padding" flex>
    <md-icon md-font-icon="fa-trophy" class="fa fa-3x s32 md-primary md-hue-2" aria-label="trabajadores"></md-icon>
    <h3>Empresa + social</h3>
    <ul>
      <li>Se concederá este distintivo a la empresa que posea el porcentaje más alto de trabajadores donantes.</li>
      <li>En reconocimento a su gran aportación se invitará a uno de los trabajadores a visitar uno de los proyectos en los que
        participe su empresa.</li>
    </ul>
  </div>
  <div layout-align="center center" layout="column" class="md-padding" flex>
    <md-icon md-font-icon="fa-gift" class="fa fa-3x s32 md-primary md-hue-2" aria-label="trabajadores"></md-icon>
    <h3>Empresa + generosa</h3>
    <ul>
      <li>Se concederá este distintivo a la empresa que aporte la mayor cantidad de dinero por trabajador.</li>
      <li>En reconocimiento a su gran aportación se le dará la posibilidad de apadrinar  uno de los proyectos en los que participe.</li>
    </ul>
  </div>
</section>